// Inputs, Textarea, Selects
//*****************************************************
input, textarea, select {
    resize: none;
    outline: 0;
    border: solid 1px #E0E0E0;
    padding: 10px 8px;
    font-family: $fontBody;
    transition: all .3s;

    &.error {
        background: #ffd8e1;
        border: solid 1px $colorDanger !important;

        &:-webkit-autofill {
            box-shadow: 0 0 0px 1000px #ffd8e1 inset;
        }
    }

    &.valid {
        background: #eaffe6;
        border: solid 1px $colorSuccess !important;

        &:-webkit-autofill {
            box-shadow: 0 0 0px 1000px #eaffe6 inset;
        }
    }
    
    &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px #fff inset;
    }
}

.rowCell {
    width: 100%;
    position: relative;
    display: flex;
    margin: 0 0 10px;

    .row {
        position: relative;
        margin:0;
        width: 100%;
        padding: 0 5px;

        i {
            position: absolute;
            top: 38px;
            right: 15px;
            transform: scale(0);
            transition: transform .2s;
        }

        &.full {
            width: 100%;
        }

        &.left {
            width: 50%;
        }

        &.right {
            width: 50%;
        }

        label {
            width: 100%;
            margin: 0 0 3px;

            &.error {
                margin: 3px 0 0 1px;
                font-size: small;
                font-style: italic;
                color: $colorDanger;
            }
        }

        input, textarea {
            width: 100%;
        }
    }
}

// Search Form
//*****************************************************
#search_form {
    width: 100%;
    margin: 10px 0 0;

    .row {
        input{
            &.fieldSearch {
                width: 75%;
                max-width: 300px;
            }
        }
    }
}
