.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.alignwide {
    clear: both;
    position: relative;

    @media (min-width: $containerWidth) {
        left: calc(50% - 50vw + 4rem);
        max-width: calc(100vw - 8rem);
        width: calc(100vw - 8rem);
    }

    @media (min-width: 1280px) {
        left: calc(50% - 60rem);
        max-width: 120rem;
        width: 120rem;
    }
}

.alignfull {
    position: relative;
    // width: 100vw;
    // left: 50%;
    // right: 50%;
    // margin-left: -50vw;
    // margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    left: calc(50% - 50vw);
    width: 100vw;
}

.wp-block-embed {
    position: relative;
    overflow: hidden;

    &.wp-block-embed-youtube {
        height: 0;

        &.wp-embed-aspect-16-9 {
            padding-bottom: 56.25%;
        }

        &.wp-embed-aspect-4-3 {
            padding-bottom: 56.25%; // TODO: Fixa
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    .wp-block-embed__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.alignright, &.alignleft {
        max-width: 100%;
        width: 50%;

        &.wp-embed-aspect-16-9 {
            padding-bottom: 28%;
        }

        &.wp-embed-aspect-4-3 {
            padding-bottom: 28%; // TODO: Fixa
        }
    }

    &.aligncenter {
        max-width: 100%;
        width: auto;
    }

    &.alignfull {
        &.wp-embed-aspect-16-9 {
            padding-bottom: 65.25%;
        }

        &.wp-embed-aspect-4-3 {
            padding-bottom: 65.25%; // TODO: Fixa
        }
    }
}

.wp-block-image {
    &.alignwide, &.alignfull {
        max-width: none;
    }
}
